# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project cache and compile files and folders
NetStalkerLibrary/Debug/*
NetStalkerLibrary/ipch/*
NetStalkerLibrary/NetStalkerLibrary.opensdf
NetStalkerLibrary/NetStalkerLibrary.sdf
NetStalkerLibrary/NetStalkerLibrary.suo
NetStalkerLibrary/Release/*
